// FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// COLORS
$cor-app-background: #f3f3f3;
$cor-borda-default: #efeeed;
$cor-placeholder-default: #efeeed;
$cor-erro: #eb4a46;
$cor-nav-ativa: #7ea5a1;
$cor-botao-ativo:  #00c8b3;
$cor-input-ativo: #333333;
$background-botao-disabled: #f6f6f6;
$cor-hover-item-list: #f6f6f6;
$cor-botao-disabled: #dddcdc;
$cor-branca: #FFFFFF;
$cor-preta: #333;

/** BREAKPOINTS */
// Smartphones
$mq-smartphones-portrait-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 1024px)";

h1, h2, h3, h4, span, p, a, label, small{
    font-family: 'Roboto', sans-serif;
}

.app-title{
    text-align: center;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
}

.title-default{
    font-size: 1.1em;
    border-bottom: 1px solid $cor-preta;
    margin: 0 0 30px 0;
    padding-top: 0;
    padding-bottom: 4px;
}

html, body{
    background: $cor-app-background;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px auto 20px auto;
    width: 30%;
    border: 1px solid $cor-borda-default;
    border-radius: 6px;
    padding: 25px;
    background: $cor-branca;
    @media #{$mq-smartphones-portrait-landscape} {
        width: 80%;
        margin: auto;
    }
}

//FORMS
.default-form{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    .form-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label{
            font-size: 0.9em;
            visibility: hidden;
        }
        input.invalid{
            border-color: $cor-erro !important;
        }
        input{
            outline: none;
            border-right: none;
            border-left: none;
            border-top: none;
            font-size: 1.5em;
            font-weight: normal;
            padding-bottom: 10px;
            &::placeholder{
                color: $cor-placeholder-default;
            }

            &:focus{
                color: $cor-input-ativo;
                &::placeholder{
                    color: $cor-input-ativo;
                }                
            }

        }
        small{
            color: $cor-erro;
            margin-top: 5px;
        }

    }
}

button.btn{
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    margin-top: 20px;
    background-color: $cor-botao-ativo;
    color: $cor-branca;
    border: none;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity ease 0.5s;
    &:hover{
        opacity: 0.7;
    }
}

//LIST COMPONENT
.list-component{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:auto;
    ul{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style:none;
        li{
            display:flex;
            flex-direction: column;
            border-bottom: 1px solid $cor-borda-default;
            padding: 14px 10px;
            &:hover{
                background: $cor-hover-item-list;
            }

            span:first-child{
                font-size: 1em;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
            }
            span{
                font-size: 0.8em;
                margin-bottom: 2px;
            }
        }
    }
}

.message-component.error-message{
    background: $cor-erro;
}
.message-component{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: $cor-botao-ativo;
    width: 100%;
    height: 40px;
    color: $cor-branca;
    font-family: 'Roboto', sans-serif;
}

// NAV
.app-nav{
    width: 450px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @media #{$mq-smartphones-portrait-landscape} {
        width: 90%;
        margin-top: 30px;
    }
    .btn.active{
        opacity: 1;
    }
    .btn{
        cursor: pointer;
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content:center;
        text-decoration: none;
        opacity: 0.8;
        color: white;
        background: $cor-nav-ativa;
        border:1px solid transparent;
        font-size: 1.1em;
        font-family: 'Roboto', sans-serif;
        &:first-child{
            border-radius: 26px 0px 0px 26px;
        }
        &:last-child{
            border-radius: 0px 26px 26px 0px;
        }
        &:hover{
            opacity: 0.95;
        }
    }    
}

// @@@@@@@ TEMP @@@@@@@
input.invalid{
    outline: none;
    border-color: $cor-erro !important;
}